

html {
  /*background-color: blue;*/
  /*display: flex;*/
}

#siteContainer{
  /*background-color: purple;*/
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*#gameStateListContainer li{
  list-style: none;
}*/
#gameSetupContainer ul{
  list-style: none;
}
/*seems like display:flex doesn't inherit? possibly only inherits 1-deep? but that seems non-sensicle.*/
#playersContainer {
  display: flex;
  /*flex-direction: column;*/
  /*background-color: green;*/
  /*need better solution for "centering" the player display so that it auto-spaces better to take up available space.*/
}

#testContainer {
  background-color: orange;
  /*display: flex;*/
  flex-direction: column;

}

.singlePlayer {
  border: 1px solid black;
  /*background-color: blue;*/
}
